In [1]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Read in my csv file
hero = pd.read_csv("purchase_data.csv")

In [3]:
# Print head to make sure data read in properly
hero.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Describe the dataset
hero.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
# Make plenty of copies just in case I screw up the data

hero_copy_1 = hero.copy()
hero_copy_2 = hero.copy()
hero_copy_3 = hero.copy()
hero_copy_4 = hero.copy()
hero_copy_5 = hero.copy()
hero_copy_6 = hero.copy()
hero_copy_7 = hero.copy()
hero_copy_8 = hero.copy()
hero_copy_9 = hero.copy()
hero_copy_10 = hero.copy()
hero_copy_11 = hero.copy()
hero_copy_12 = hero.copy()
hero_copy_13 = hero.copy()
hero_copy_14 = hero.copy()
hero_copy_15 = hero.copy()
hero_copy_16 = hero.copy()
hero_copy_17 = hero.copy()
hero_copy_18 = hero.copy()
hero_copy_19 = hero.copy()
hero_copy_20 = hero.copy()

In [6]:
# Get total number of players and load into a DF
total_players = hero["SN"].nunique()

total_players_DF = pd.DataFrame({"Total Players" : [total_players]})

# Print the Player Count DF
total_players_DF

   Total Players
0            576

In [7]:
# Initialize and and do calculations for the variables/ data that are going to populate my Purchase Analysis (Total) DF
unique_items = hero["Item ID"].nunique()
avg_price = (hero["Price"].sum())/ (hero["Price"].count())
total_purchases = hero["Purchase ID"].count()
total_rev = hero["Price"].sum()

In [8]:
# Create Purchasing Analysis (Total) DF and load in the data.  
purchasing_analy_total =pd.DataFrame({"Number of Unique Items":[unique_items],
                                      "Average Price":[avg_price],
                                      "Number of Purchases":[total_purchases],
                                      "Total Revenue":[total_rev]
                                     })

In [9]:
# Do the mapping so I can properly format my $ values in the Purchasing Analysis (Total) DF
purchasing_analy_total["Average Price"] = purchasing_analy_total["Average Price"].map('${:,.2f}'.format)
purchasing_analy_total["Total Revenue"] = purchasing_analy_total["Total Revenue"].map('${:,.2f}'.format)

In [10]:
# Print the Purchasing Analysis (Total) DF
purchasing_analy_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [11]:
# Group hero_copy_1 by gender for use in our Gender Demographics DF
M_F_Group = hero_copy_1.groupby("Gender")

In [12]:
# Calculate and assign the gender_percent and gender_count variables
gender_percent = (M_F_Group["SN"].nunique()/ total_players)*100

gender_count = M_F_Group["SN"].nunique()

In [13]:
# Create the Gender Demographics DF for the above calculations
gender_demo = pd.DataFrame({"Total Count" : gender_count,
                            "Percentage of Players" : gender_percent
                            })

In [14]:
# Do the mapping so I can properly format my % values in the Gender Demographics DF
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map('{:.2f}%'.format)

In [15]:
# Print the Gender Demographics DF
gender_demo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [16]:
# Use the below groupby to group the data in accordance to gender
gender_purchase_group = hero_copy_2.groupby(["Gender"])

In [17]:
# Initialize my variables/ data for the Purchase Analysis (Gender) DF
purchase_count = gender_purchase_group["Purchase ID"].count()
avg_purchase_price = gender_purchase_group["Price"].mean()
total_purchase_val = gender_purchase_group["Price"].sum()

# This one was a bit tricky
# What they want is how much the average guy or woman spent. 
# I. E. Total sum spent by gender/ total # of gender
# Kudos to Joe the TA for help with this calculation
###EXTRA CREDIT FOR NAME DROP!!
aptpp_by_gender = total_purchase_val/ gender_count

In [18]:
# Create a new DF using with the loaded data from above
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": avg_purchase_price,
                                        "Total Purchase Value": total_purchase_val,
                                        "Ave Total Purchase Value": aptpp_by_gender
                                       })

In [19]:
# Do the mapping so I can properly format my $ values in the Purchase Analysis (Gender) DF
gender_purchase_summary["Average Purchase Price"] = gender_purchase_summary["Average Purchase Price"].map('${:,.2f}'.format)
gender_purchase_summary["Total Purchase Value"] = gender_purchase_summary["Total Purchase Value"].map('${:,.2f}'.format)
gender_purchase_summary["Ave Total Purchase Value"] = gender_purchase_summary["Ave Total Purchase Value"].map('${:,.2f}'.format)

In [20]:
# Print Purchasing Analysis (Gender) DF
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase Value
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [21]:
 # Create the bins for the Age Demographics DF
age_demo_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]


# Create the labels for these bins
demo_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [22]:
# Create empty list for our Percentage of Players column
# I am going to load the values in the list later with the for loop further loop below
percent_players_list = []

In [23]:
# Create binned object by loading/ segment the data into our hero_copy_4 table with the cut function
# Note that I have set the title to empty so it prints like the HW example. IDK if this matters or not...
hero_copy_4[""] = pd.cut(hero_copy_4["Age"], age_demo_bins, labels = demo_bin_labels, include_lowest =True)

In [24]:
# Store the grouped data in the age_grouped variable for use later
age_grouped = hero_copy_4.groupby("")

In [25]:
# Get the data and load the player counts to populate our new derivative column
total_by_age = age_grouped["SN"].nunique()

In [26]:
# Create a new DF using with the loaded data from above
age_demographics_df = pd.DataFrame({"Total Count": total_by_age,
                                   })

In [27]:
#Check the output of the Age Demographics DF
age_demographics_df

       Total Count

<10             17
10-14           22
15-19          107
20-24          258
25-29           77
30-34           52
35-39           31
40+             12

In [28]:
# For loop to iterate thourgh the "Total Count" column and do the arithmetic
# This loop appends the calculations to our empty percent_players list above  
for i in age_demographics_df["Total Count"]: 
  
    percent_players_list.append((i / total_players)*100)

In [29]:
# Check percent_players_list to make sure it loaded correctly
print(percent_players_list)

[2.951388888888889, 3.8194444444444446, 18.57638888888889, 44.79166666666667, 13.368055555555555, 9.027777777777777, 5.381944444444445, 2.083333333333333]

In [30]:
# Add the "Percentage of Players" column and its data to Age Demographics DF
age_demographics_df["Percentage of Players"] = percent_players_list

In [31]:
# Do the mapping so I can properly format my % values in the Age Demographics DF
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map('{:.2f}%'.format)

In [32]:
# Print the Age Demographics DF
age_demographics_df

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [33]:
 # Create the bins for the Purchasing Analysis (Age)
age_purchasing_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]


# Create the labels for these bins
purchasing_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-40", "40+"]

In [34]:
# Create binned object by loading/ segment the data into our hero_copy_5 table with the cut function
# Note that I have set the title to empty so it prints like the HW example. IDK if this matters or not...
hero_copy_5[""] = pd.cut(hero_copy_5["Age"], age_demo_bins, labels = demo_bin_labels, include_lowest =True)

In [35]:
# Get the data and load the Purchase Count to populate our new derivative column
purch_count_by_age = age_grouped["Purchase ID"].nunique()
total_purch_value_by_age = age_grouped["Price"].sum()
average_purchase_price_by_age = (total_purch_value_by_age)/ purch_count_by_age
aptpp_by_age = total_purch_value_by_age/ total_by_age

In [36]:
# Create a new DF using with the loaded data from above
purchasing_analysis_age = pd.DataFrame({"Purchase Count": purch_count_by_age,
                                        "Average Purchase Price": average_purchase_price_by_age,
                                        "Total Purchase Value": total_purch_value_by_age,
                                        "Avg Total Purchase per Person" : aptpp_by_age
                                       })

In [37]:
# Do the mapping so I can properly format my $ values in the Purchasing Analysis (Age) DF
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map('${:,.2f}'.format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map('${:,.2f}'.format)

In [38]:
# Check the output of the Purchasing Analysis (Age) DF
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [39]:
# Group hero_copy_1 by gender for use in our Top Spenders DF
# Referencing hero_copy_11 since just to ensure that this is not a table that I have manipulated yet
# Forgot all the tables I was updateing during my debuging/ tinkering process
T_S_Group = hero_copy_11.groupby("SN")

In [40]:
# Calculate and assign the purchase_count_by_SN, total_purchase_value_by_SN, and average_purchase_price_by_SN variables_
#for use later in our Top Spenders DF
purchase_count_by_SN = T_S_Group["Item ID"].count()

total_purchase_value_by_SN = T_S_Group["Price"].sum()

average_purchase_price_by_SN  = (total_purchase_value_by_SN/ purchase_count_by_SN)

In [41]:
# Create the Top Spenders DF for the above calculations
top_spenders_df = pd.DataFrame({"Purchase Count" : purchase_count_by_SN,
                                "Average Purchase Price" : average_purchase_price_by_SN,
                                "Total Purchase Value" : total_purchase_value_by_SN
                               })

In [42]:
# Sort the top_spenders_df in decending order by the "Total Purchase Value" column
sorted_top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

In [43]:
# Do the mapping so I can properly format my $ values in the Top Spenders DF
sorted_top_spenders_df["Average Purchase Price"] = sorted_top_spenders_df["Average Purchase Price"].map('${:,.2f}'.format)
sorted_top_spenders_df["Total Purchase Value"] = sorted_top_spenders_df["Total Purchase Value"].map('${:,.2f}'.format)

In [44]:
#Check the Top Spenders DF
sorted_top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [45]:
# Group my copy heros_copy_12 DF by "Item ID" and "Item Name" for later_
# use in the Most Popular Items DF and Most Popular Items DF
most_pop_prof_group = hero_copy_12.groupby(["Item ID", "Item Name"])

In [46]:
# Get the values for my "Purchase Count", "Item Price", and "Total Purchase Value" colmns and assign them to variables
purchase_count_pop_prof = most_pop_prof_group["Item ID"].count()
item_price_pop_prof = most_pop_prof_group["Price"].mean()
total_purchase_value_pop_prof = most_pop_prof_group["Price"].sum()

In [47]:
# Create the DF for Most Popular Items and Most Profitable Items
most_pop_prof_group_df = pd.DataFrame({"Purchase Count" : purchase_count_pop_prof,
                                       "Item Price" : item_price_pop_prof,
                                       "Total Purchase Value" : total_purchase_value_pop_prof
                                       })

In [48]:
# Sort the most_pop_prof_group_df in decending order by the "Purchase Count" column Most Popular Items DF
sorted_popular_items_df = most_pop_prof_group_df.sort_values("Purchase Count", ascending=False)

In [49]:
# Do the mapping so I can properly format my $ values in the Most Popular Items DF
sorted_popular_items_df["Item Price"] = sorted_popular_items_df["Item Price"].map('${:,.2f}'.format)
sorted_popular_items_df["Total Purchase Value"] = sorted_popular_items_df["Total Purchase Value"].map('${:,.2f}'.format)

In [50]:
# Dislay the Most Popular Items DF
sorted_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [51]:
# Sort the most_pop_prof_group_df in decending order by the "Purchase Count" column for the Most Profitable Items DF
sorted_profitable_items_df = most_pop_prof_group_df.sort_values("Total Purchase Value", ascending=False)

In [52]:
# Do the mapping so I can properly format my $ values in the Most Profitable Items DF
sorted_profitable_items_df["Item Price"] = sorted_profitable_items_df["Item Price"].map('${:,.2f}'.format)
sorted_profitable_items_df["Total Purchase Value"] = sorted_profitable_items_df["Total Purchase Value"].map('${:,.2f}'.format)

In [53]:
# Dislay the Most Profitable Items DF
sorted_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80